<div class="col-12 px-4">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div
      class="
        card-header
        py-3
        d-flex
        flex-row
        align-items-center
        justify-content-between
      "
    >
      <h6 class="m-0 font-weight-bold text-primary">Live Stock Info</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <label for="ticker"></label>
      <input type="text" id="ticker" [(ngModel)]="ticker" [value]="ticker" (blur)="fetchPriceData()">
      <canvas
        baseChart
        width="400"
        height="200"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
      >
      </canvas>
    </div>
  </div>
</div>
