


<!-- Begin Page Content -->
<div class="container-fluid py-4">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Event History</h1>
    </div>
  
    <div class="row">
      <!-- Area Chart -->
      <div class="col-12">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
          >
            <h6 class="m-0 font-weight-bold text-primary">Event History table</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-area">
                <ag-grid-angular
                style="width: auto; height: 100%"
                class="ag-theme-alpine"
                [rowData]="Events"
                [columnDefs]="columnDefs"
              >
              </ag-grid-angular> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  