<!-- Card Header - Dropdown -->
<div
  class="
    card-header
    py-3
    d-flex
    flex-row
    align-items-center
    justify-content-between
  "
>
  <h6 class="m-0 font-weight-bold text-primary">Track Sale</h6>
</div>
<!-- Card Body -->
<div class="card-body">
  <!-- {
        buyOrSell: 'BUY',
        price: 0,
        stockTicker: '',
        updatedTime: '',
        volume: 0,
      }; -->
  <div class="form-group row">
    <label class="control-label col-md-12">Company Ticker</label>
    <input
      type="text"
      [(ngModel)]="sellDetails.stockTicker"
      class="form-control"
    />
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12">Volume</label>
    <input type="number" [(ngModel)]="sellDetails.volume" class="form-control" />
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12">Price</label>
    <input type="number" [(ngModel)]="sellDetails.price" class="form-control" />
  </div>

  <div class="form-group">
    <button class="btn btn-success btn-md btn-block" (click)="addTrade()">
      Add Purchase
    </button>
  </div>
</div>
