<!-- Begin Page Content -->
<div class="container-fluid py-4">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a
      href="#"
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
      ><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a
    >
  </div>

  <!-- Content Row -->
  <app-buy-and-sell class="row">
    
  </app-buy-and-sell>
</div>

<!-- <app-dashboard-stats class="row">
    
  </app-dashboard-stats> -->

<!-- Content Row -->
<app-live-stocks class="row"> </app-live-stocks>
<div class="row">
  <!-- Area Chart -->
</div>



<!-- /.container-fluid -->
