<div class="col-md-6 col-sm-12">
    <app-buy-card class="card shadow mb-4">
    </app-buy-card>
</div>
<div class="col-md-6 col-sm-12">
    <app-sell-card class="card shadow mb-4">
    </app-sell-card>
</div>
